<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <strong>Here are your currently running containers</strong>
    {{#each containerSummaries}}
        <ul>
            <li>Name: {{Name}}</li>
            <li>Image: {{ImageName}}</li>
            <li>Status: {{Status}}</li>
        </ul>
    {{/each}}


    <strong>Here are your volumes:</strong>
    <ul>
        {{#each volumes}}
            <li>
                {{Name}}
            </li>
        {{/each}}
    </ul>

    <strong>Here are some images:</strong>
    <ul>
        {{#each images}}
            <li>{{RepoTags}} (<small>{{Id}}</small>)</li>
        {{/each}}
    </ul>
</div>
