<div>
    <p>
        <strong>Here are your currently running containers</strong>
        <div class="flex two three-600 five-1200 grow">
            {{#each containerSummaries}}
                <div>
                    <article class="card">
                        <header class="flex">
                            <span><strong>{{Name}}</span> <span class="label">{{Status}}</span></strong>
                        </header>
                        <footer>
                            <div class="stack">
                                Image: {{ImageName}}
                            </div>
                        </footer>
                    </article>
                </div>
            {{/each}}
        </div>
    </p>


    <strong>Here are your volumes:</strong>
    <ul>
        {{#each volumes}}
            <li>
                {{Name}}
            </li>
        {{/each}}
    </ul>

    <strong>Here are some images:</strong>
    <ul>
        {{#each images}}
            <li>{{RepoTags}} (<small>{{Id}}</small>)</li>
        {{/each}}
    </ul>
</div>
