<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    {{#if containers}}
        <strong>Here are your currently running containers</strong>
        <ul>
            {{#each containers}}
                <li>{{Id}}: {{Image}}</li>
            {{/each}}
        </ul>
    {{/if}}


    <strong>Here are your volumes:</strong>
    <ul>
        {{#each volumes}}
            <li>
                {{Name}}
            </li>
        {{/each}}
    </ul>

    <strong>Here are some images:</strong>
    <ul>
        {{#each images}}
            <li>{{RepoTags}} (<small>{{Id}}</small>)</li>
        {{/each}}
    </ul>
</div>
